// qrdisplay styles
#qrdisplay-background
    position absolute
    top 0
    left 0
    z-index:  299
    height 100%
    width 100%
    overflow: hidden
    transform: translateY(-102%)
    background-color alpha(cd-background, 0.4)
    opacity: 0
    transition: opacity 0.3s
    pointer-events: none

#qrdisplay-content
    padding 15px
    background-color alpha(cd-background, 0.8)
    word-break: break-all
    text-align center

#qrdisplay-qr
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    padding 40px
    background-color white

#qrdisplay-background.active
    transform: translateY(0)
    opacity: 1
    pointer-events: all



